{% extends 'base.html.twig' %}


{% block body %}
    <main>

        <div class="login-form-area section-padding">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-lg-7 col-md-10">
                        <div class="login-form">

                            <div class="login-heading">
                                {% for flashMessage in app.flashes('message') %}
                                    <div class="alert alert-success" style="background-color: #dff0d8; color: #3c763d; border-color: #d6e9c6;">{{ flashMessage }}</div>
                                {% endfor %}
                                <span>Forgot Password</span>
                                <p>Enter Login details to get access</p>
                            </div>
                            {{ form_start(form,{attr:{novalidate:'novalidate'}}) }}


                                <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                                <label for="inputEmail">Email</label>
                            {{ form_widget(form.email,{'attr':{'class':'form-control'}}) }}


                            <br/>
                                <br/>
                                <br/>
                                <button class="btn btn-lg btn-primary w-100" type="submit">
                                    Send
                                </button>


                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
