{% extends 'base.html.twig' %}

{% block title %}New Question{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-center mb-5">Create new Question</h1>

        <div class="row justify-content-center">
            <div class="col-md-6">
                {{ include('question/_form.html.twig') }}

                <a href="{{ path('app_question_index') }}" class="btn btn-secondary mt-3">Back to list</a>
            </div>
        </div>
    </div>
{% endblock %}
