{% extends 'base.html.twig' %}

{% block title %}Statistics{% endblock %}


    <h1>Statistics</h1>
    <p>Number of Reclamations: {{ chartData.reclamations }}</p>
    <p>Number of Responses: {{ chartData.responses }}</p>

{% endblock %}