{% extends 'base1.html.twig' %}

{% block title %}Rec{% endblock %}

{% block body %}

<!DOCTYPE html>
<html>
<head>
    <title>Pusher Notification</title>
</head>
<body>
    <h1>Pusher Notification</h1>
    <p>{{ message }}</p>
</body>
</html>
{% endblock %}