{% extends 'base.html.twig' %}

{% block title %}Edit RendezVous{% endblock %}

{% block body %}
    <div class="slider-area gray-bg position-relative">
        <div class="single-slider d-flex align-items-center slider-height2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-caption hero-caption2">
                            <h2>Modifier Rendez-vous</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 mt-4">
            <h3 class="text-center">Modifier le Rendez vous de  </h3>
            <h3 class="text-center">{{ rendez_vou.userRendezVous.username }} pour l'annonce {{ rendez_vou.annonceAssocierRendezVous.titre }}</h3>

    {{ include('rendez_vous/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_rendez_vous_index') }}">back to list</a>

        </div>
    </div>
</div>
{% endblock %}
