{% extends 'base.html.twig' %}

{% block title %}New Candidature{% endblock %}

{% block body %}
    <div class="slider-area gray-bg position-relative">
        <div class="single-slider d-flex align-items-center slider-height2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-caption hero-caption2">
                            <h2>Candidats</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h1>Create new Candidature</h1>

    {{ include('rendez_vous/_form.html.twig') }}

    <a href="{{ path('app_candidature_index') }}">back to list</a>
{% endblock %}