{% extends 'base.html.twig' %}

{% block title %}New File{% endblock %}

{% block body %}
    <br>
    <br>
    <br>
    <br>
    <h1>Create new File</h1>

<div class="job_details_area section-bg2">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">

                <div class="apply_job_form white-bg">
                    <h4>Apply for the job</h4>

                    <div class="row">

    {{ include('file/_form.html.twig') }}

                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

    <a href="{{ path('app_file_index') }}">back to list</a>
{% endblock %}
