<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="delete-modal-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="delete-modal-title">Confirm Deletion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this candidature?</p>
            </div>
            {% if candidature is defined %}
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Canssscel</button>
                <form action="{{ path('app_candidature_delete', {'idCandidature': candidature.idCandidature}) }}" method="POST">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
            {% endif %}
        </div>
    </div>
</div>
